@import "../../../styles/variables.scss";

.container {
  border-color: $green;  
  color: $green;
  transition: all ease-in-out 0.2s;
  &Disabled {
    
  }
}
.container:hover {
  background-color: $green;
  .text {
    color: white;
  }
}

.text {
  margin-left: 15px;
}